<h1><a href="/">ExplainCommand</a></h1>
<form action="/explain" method="get">
  <input id="top-search" name="cmd" type="text" autocapitalize="off" autocorrect="off" placeholder="explain...">
</form>
<h2>Examples</h2>
<ul>
  <li>
    <a href="/explain?cmd=ls+-ltr">ls -ltr</a>
  </li>
  <li>
    <a href="/explain?cmd=git+update-ref+-d+HEAD">git update-ref -d HEAD</a>
  </li>
  <li>
    <a href="/explain?cmd=find%20.%20-type%20f%20-print0">find . -type f -print0</a>
  </li>
  <li>
    <a href="/explain?cmd=docker+build+-t+getting-started+.">docker build -t getting-started .</a>
  </li>
</ul>