<% content_for :content do %>
<h2>Examples</h2>
<ul>
<% @examples.each do |example| %>
  <li>
    <a href="/explain?cmd=<%= ERB::Util.url_encode(example) %>"><%= example %></a>
  </li>
<% end %>
</ul>
<hr>
<p><a href="https://github.com/cstack/explaincommand">View on Github</a></p>
<% end %>
<%= render template: "layouts/application" %>