<h1><a href="/">ExplainCommand</a></h1>
<form action="/explain" method="get">
  <input id="top-search" name="cmd" type="text" autocapitalize="off" autocorrect="off" value="<%= @cmd %>">
</form>
<ul>
<% @explanation.annotations.each do |part| %>
<li><%= part %></li>
<% end %>
</ul>